
@media only  screen and (max-width: 1050px) {
    .logo {
        margin: 0 auto;
    }
    header {
        height: auto;
        flex-direction: column;
        border-bottom: 1px solid lightgray;
    }
    .search_block {
        margin-top: 0px;
        width: 100%;
    }
    .topnav {
        display: none;
        /* transform: translateY(100%);  */
        flex-direction: row;
        align-items: center;
        margin-right: 0px;
        transition: display 5s ease;

    }
    
    .burger-line{
        position: absolute;
        width: 35px;
        height: 3px;
        top: 5px;
        background-color: #fff;
        transition: .5s all;
    }
    .lines
    {
        position: absolute;
        cursor: pointer;
        width: 35px;
        height: 35px;
        top: 10px;
        right: 30px;
    }

    header .second, .third{
        top: 15px;
    }

    header .fourth{
        top: 25px;
    }


    #check-menu:checked ~ .topnav{
        display: flex;
        flex-direction: column;
    }

    #check-menu:checked ~ .lines .first{
        display: none;
    }

    #check-menu:checked ~ .lines .second{
        transform: rotate(45deg);
    }

    #check-menu:checked ~ .lines .third{
        transform: rotate(-45deg);
    }

    #check-menu:checked ~ .lines .fourth{
        display: none;
    }
    .topblock {
        height: 700px;
    }
    .toptext
    {
    font-size: 46px;
    }
    .withline {
        border-left: none;
        margin-right: 0px;
    }
    .topnav a {
        margin-left: 0px;
        padding: 10px;
        
    }
    .drop_down {
        width: 15%;
    }
    .d1 {
        width: 95%;
        margin: 0 auto;
    }
    .d1 input {
        width: 55%;
    }
    .d1 button {
        width: 30%;
    }
    .pics {
        flex-direction: column;
        align-items: center;
        width: 270px;
        height: 270px;
    }   
    .slider div .text {
        width: 98%;
    }
    .gallery
    {
        width: 60%;
    }

}