html, body, main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#carousel {
    position: relative;
    height: 400px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

div img {
    width: 400px;
    transition: width 1s;
}


div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
    opacity: 0.6;

}

div.prev img {
    width: 300px;
}

div.leftHide {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0;
}

div.leftHide img {
    width: 200px;
}

div.hide {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0;
}

div.hide img {
    width: 200px;
}

div.current {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
}

div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
    opacity: 0.6;
}

div.next img {
    width: 300px;
}

div.rightHide {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0;
}

div.rightHide img {
    width: 200px;
}

.buttons {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}