* {box-sizing: border-box;}
@font-face {
    font-family: "RalewayB";
    src: url("assets/fonts/RalewayBold/RalewayBold.eot");
    src: url("assets/fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("assets/fonts/RalewayBold/RalewayBold.woff") format("woff"),
    url("assets/fonts/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


.d1 
{
    margin: 0 auto;
    height: 100px;
    filter: drop-shadow(3px 3px 4px gray);
    width: 80%;
}

.drop_down
{
    float: left;
    display: block;
    text-align: center;
    border-right: 1px solid lightgrey;
    margin-top: auto;
    padding-top: 29px; 
    font-size: 13px;
    margin-bottom: auto;
    background-color: white;
    height: 72px;
    width: 15%;
    border-radius: 10px 0px 0px 10px;
}

.d1 input {
    height: 72px;
    width: 65%;
    font-family: "RalewayB";
    min-width: 120px;
    padding-left: 10px;
    border: none;
    background: rgb(255, 255, 255);
    color: #9E9C9C;
    float: left;
    }

#chkbx
{
    display: none;
}
#chkbx:checked ~ .burger
{
    display: block;
}
#chkbx:checked ~ .drop_down
{
    border-radius: 10px 0 0 0 ;
}

.d1 .burger
{
    height: 50px;
    width: 15%;
    background: red;
    display: none;
    float: left;
}

.d1 button {
    width: 20%;
    height: 72px;
    border: none;
    background: #15a4b5;
    border-radius: 0 10px 10px 0;
    color: white;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-family: "RalewayB";
}